certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
customtkinter==6.0.0
darkdetect==0.8.0
idna==3.18
loguru==0.7.3
packaging==26.2
psutil==7.2.2
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dotenv==1.2.2
pywin32==312
PyYAML==6.0.3
requests==2.34.2
shiboken6==6.11.1
urllib3==2.7.0
win32_setctime==1.2.0
